mat-card {
  margin: 1em auto;
  text-align: center;
  max-width: 600px;
}

input, mat-label, mat-hint {
  font-size: 150%;
}

input {
  font-size: 120%;
}

mat-form-field {
  display: block;
  margin-top: 20px;
}
