<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a routerLink="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4"><h1>Uty - University System Managment</h1></span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/classroom-reservation" class="nav-link" aria-current="page" mat-button>Classrooms Reservations</a></li>
    <li class="nav-item"><a routerLink="/assignment-list" class="nav-link" aria-current="page" mat-button>Classrooms reservation - assignment</a></li>
<!--    <li class="nav-item"><a routerLink="/" class="nav-link" aria-current="page" mat-button>Inscriptions</a></li>-->
    <li class="nav-item"><a routerLink="/student" class="nav-link" aria-current="page" mat-button>List of students</a></li>
<!--    <li class="nav-item"><a routerLink="/login" class="nav-link" aria-current="page" mat-button>Login</a></li>-->
  </ul>
</nav>



