mat-card {
  min-width: 600px;
  margin: 2em auto !important;
  padding: 30px;

}

mat-form-field {
  display: block;
}

.center-container {
  margin-left: 29%;
}

.assign-classroom-button {
  background-color: rgba(103, 58, 183, 0.45);
  color: white;
}

.modal-assign-classroom-button {
  background-color: rgba(104, 183, 58, 0.69);
  color: white;
}
